<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<h1>About Us</h1>
<p>What we believe: At Prietary, our mission is to enable companies to become more succesful using the resources they already have.  We believe there is a wealth of strategic knowledge in the minds of employees at all levels of the organization that goes untapped because of limited communication methods.  Prietary strives to be that missing communication channel - one that can: </p>
<ul>
<li>allow anonymous feedback without negative side effects</li>
<li>that enables efficient dissemination of information</li>
	<li>that enables companies to ensure that the right person is in the right role</li>
<li>that shines a light on employees working effectively without their due recognition.</li>
</ul>

<p>Prietary is founded by Phil Garber </p>
<p>Help us out by Tweeting, following, and Liking:</p>

<p>
<a href="https://twitter.com/prietary" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Prietary</a>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://prietary.com" data-text="Bring transparency to your company with Prietary" data-via="prietary">Tweet</a>
</p>

<p><div class="fb-like-box" data-href="https://www.facebook.com/Prietary" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div></p>

