<h1>Contact</h1>
<p>Prietary treasures customer feedback and we read everything we receive.  Please drop us a line and let us know how we're doing and what we can do to deliver the tool that you need.</p></ br>

<p>We're in Durham, North Carolina.  Drop us a note at <a href="mailto:contact@prietary.com">contact@prietary.com</a></p>