<h1>How does Prietary work?</h1>
<p>Prietary is designed to ensure that feedback is anonymous and remains anonymous.  For example, if Milton leaves feedback for Bill about a need to improve communication, Bill can see that he received that piece of feedback, but no one will know who provided the comment.  There are no emails to Milton that indicate what feedback he provided.  Even when Milton is logged in to Prietary, there is not a list of feedback given.  So, even if someone obtains access to Milton's Prietary account, the feedback he provided is still safe.  </p>

<p>Prietary is designed this way to ensure that the feedback given by colleagues is genuine and honest without worrying about blowback from comments made.</p>