<% provide(:title, 'About Us') %>
<div class="wrapper body">
	<div class="container">
	  <div class="row">
	    <%= render "users/signed_in_sidebar" %>
	    <div class="col-md-8">
	      <div class="well well-sm">
		    <h1>About Us</h1>
		    <p>What we believe: At Prietary, our mission is to enable companies to become more succesful using the resources they already have.  We believe there is a wealth of strategic knowledge in the minds of employees at all levels of the organization that goes untapped because of limited communication methods.  Prietary strives to be that missing communication channel - one that can: </p>
		    <ul>
			<li>allow anonymous feedback without negative side effects</li>
			<li>that enables efficient dissemination of information</li>
  			<li>that enables companies to ensure that the right person is in the right role</li>
			<li>that shines a light on employees working effectively without their due recognition.</li>
			</ul>
			<p>Follow us on Twitter, Like us on Facebook</p>
			<p>Prietary is founded by Phil Garber, LinkedIn, Twitter</p>
		  </div>	
    	</div>
      </div>
    </div>
</div>