<% provide(:title, 'Contact') %>
<div class="wrapper body">
	<div class="container">
	  <div class="row">
	    <%= render "users/signed_in_sidebar" %>
	    <div class="col-md-8">
	      <div class="well well-sm">
		    <h1>Contact</h1>
			<p>Prietary treasures customer feedback and we read everything we receive.  Please drop us a line and let us know how we're doing and what we can do to deliver the tool that you need.</p></ br>

			<p>We're in Durham, North Carolina</p>
			<p><a href="mailto:contact@prietary.com">contact@prietary.com</a></p>
		  </div>	
    	</div>
      </div>
    </div>
</div>