<% provide(:title, 'How does Prietary work?') %>
<div class="wrapper body">
	<div class="container">
	  <div class="row">
	    <% if user_signed_in? %>
		   <%= render "users/signed_in_sidebar" %>
		   <div class="col-md-8">
		      <div class="well well-sm">
		        <%= render "howitworks_text" %>
			  </div>	
	    	</div>
	    <% else %>
	      <div class="col-sm-6 col-sm-offset-3">
	      	<div class="well well-sm">
		      <%= render "howitworks_text" %>
		    </div>	
	      </div>
	    <% end %>	
      </div>
    </div>
</div>