

<%= link_to idea do %>
  <div class="name_container">
    <div class="name_ico">
    </div> 
    <!-- <i class="text-color fa fa-road fa-3x"></i> -->
    <div class="name_txt_container ">
      <span style="width: 100%; float: left; font-size: 15px;" ><%= idea.body %></span>
      <% if current_user===(idea.user) %> 
        <i> | <%= link_to "edit ", edit_idea_path(idea) %></i>
      <% end %></p> 
      <% if idea.user %>
        <span style="width: 100%; float: left; font-style: italic; font-size: 12px;" >
          Created by <%=link_to(idea.user.name, idea.user) %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>