<%# this is ideas/show.html.erb   This is where I show a single idea and all of its contents%>

<div class="wrapper body">
  <div class="container">
    <div class="row">
      <%= render "users/signed_in_sidebar" %>
      <div class="col-md-8">
        <!-- this is the main section -->
        <div class="well well-sm">
          <% idea = set_idea(params) %> <%##set_project is in ideas_helper %> 
          <%= render idea %><%# renders _idea.  this is the root idea.  no indent %>

          <ul>
            <% @comments.each do |comment| %>
              <%= render comment %>  <%# magically knows to go to _idea %>
              <% subcomments = comment.replies %>
              <% unless subcomments.nil? %>
                <% subcomments.each do |subcomment| %>
                  <%= render subcomment %>
                <% end %>
              <% end %>
            <% end %>
          </ul>

        </div>
        
      </div>
    </div>
  </div>
</div>

