<p><%= @user.name %>,</p>

<p>Thank you for creating the project <b><%=@project.name%></b>.  You can edit the name of the project or delete it entirely by clicking on the "edit" link in the Projects page.  And, like the rest of your colleagues, you can give anonymous feedback on the project.  </p>

<p>Thanks again,</p>
<p>The Prietary team</p>