<% btnclass, text = set_btn_type(category) %>
<!-- <li> -->
  <table>
  <tr>
    <th rowspan="2"><button type="button" class="<%= btnclass %>" ><%= text %> </span></button></th>
    <th><%= comment %></th>
  </tr>
  <tr>
    <td class="tg-031e">
        <div style="display:inline;">
        <%#= @idea_upvotes %>

        <%#= form_for idea.votes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%#= f.hidden_field :upvote, value: 1 %> 
          <%#= f.hidden_field :idea_id, :value => idea.id %>
          <%#= link_to_submit do %>
            <i class="text-color fa fa-chevron-up fa-1x"></i> 0
          <%# end %>

        <%# end %>

        &nbsp | &nbsp
        <%#= @idea_downvotes %>
        <%# I wish I could show this number, but I think I can't%>
        <%#= form_for idea.votes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%#= f.hidden_field :downvote, value: 1 %>
          <%#= f.hidden_field :idea_id, :value => idea.id %>
          <%#= link_to_submit do %>
            <i class="text-color fa fa-chevron-down fa-1x"></i>
        <% if params[:action] == "myfeedback" %><%# if we're in myfeedback page %>
          0 | thank  |  ask  | visible (hide) 
        <% end %> 
        &nbsp | &nbsp flag     
          <%# end  %>
        <%# end %>
        
      </div>
    </td>
  </tr>
</table>




<!-- </li> -->
