<%# this gets category and feedback and renders a button with a number of feedbacks received in this category %>
<% if fb.count > 0 %>
	<% btnclass, text = set_btn_type(category) %>
	<div class="dashboard_content_inner content_color_change_1">
	  <div class="content_inner_color_1">
	  </div>
	  <div class="<%= btnclass %>">                              
	    <%= text %>                              
	  </div>
	  <div class="content_comment">
    	<span style="float: left; min-width: 100%;"><%= fb.count %> received</span>
	  	
	  </div>
	</div>  
<% end %>