<ul class="dropdown-menu" role="menu">
  <% attribs = Attribute.where(category: category) %>
  <%# puts "attribs: #{attribs}" %>
  <li>
	<%= form_for(@attribute, url: '#') do |f| %>
	  <%#= render '/shared/error_messages', object: f.object %>
	  <%= f.text_field :attribute_name %>
	  <br>
	  <%= f.submit "submit", class: "btn btn-small btn-primary" %>
	<% end %>     
  </li>       
  <% attribs.each do | attrib | %>
	<li><a href="#"><%= attrib.attribute_name %></a></li>
	<li>
	<%#= form_for( @feedback ) do |f| %>
	  <%#= render '/shared/error_messages', object: f.object %>
	  <%#= f.submit attrib.attribute_name %>
	<%# end %>
  <% end %>
</ul>

