<%# there is a backup in _top_buttonBACKUP %>
<ul class="dropdown-menu" role="menu">
  <% attribs = Attribute.where(category: category) %>

  <%# still don't really need this %>
  <%#= javascript_tag do %>
    <!-- setAttribs(<%= attribs.to_json %>); -->
  <%# end %>

  <li>
    <form>
      <input type="text" name="comment" ng-model="newfb.comment" placeholder="Enter comment here..." />
      <input type="hidden" ng-model="newfb.id" />
   	  <input type="button" value="Enter" ng-click="saveFb()" />
  	</form>
  </li> 


  <select multiple="multiple" onchange="GetSelected (this);" size=<%=attribs.count %> >
    <% attribs.each do |attrib| %>
      <option value="<%=attrib.attribute_name%>"><%=attrib.attribute_name%></option>
    <% end %>
  </select>

  <%#= collection_select(:feedback, :attribute_id, attribs.all, :attribute_name, :attribute_name) %>


  </ul>


