<!-- <h3>BumptUp</h3>
<%# @users.each do |user| %>
  <p>User: <%#=link_to user.name, user %></p>
<%# end %> -->

<% if signed_in? %>

  <%=render 'users/homepage' %>

<% else %>
  <div>
    <%= render 'static_pages/landing' %>
  </div>

<% end %>