<li>
  <%= link_to project.name, project %>
  <%# if current_user.admin? # TODO: put this back in%>  
  	  <%#= link_to "delete", project, method: :delete, data: { confirm: "you sure?" } %>
  <%# end %>
</li>