<li>
  <div>
    <p class="alignleft"><%= link_to project.name, project %>
      <% if current_user===(project.user) %> 
        <i><%= link_to "edit ", edit_project_path(project) %></i>
      <% end %></p> 
    <% if project.user %>
      <p class="alignright"><%= "Created by #{project.user.name}" %></p>
    <% end %> 
  </div>
  <div style="clear: both;"></div>
</li>