<%# NOT USED %>

<!doctype html>






<!-- <html>
  
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head> -->
  

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <p><!--StartFragment--></p>
              <p></p>
              <!--EndFragment-->
              <well>
                <form>
                  <div class="form-group">
                    <div class="controls"></div>
                  </div>
                  <div class="form-group"></div>
                  <div class="row">
                    <div class="col-md-5">
                      <img src="http://i.imgur.com/0Pua12E.png" width="250">
                      <h3 class="media-heading">Transparency made easy</h3>
                    </div>
                    <div class="col-md-7">
                      <well>
                        <div class="form-group">
                          <label class="control-label">Join your company's feedback network for free</label>
                          <div class="controls"></div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Enter your work email address:</label>
                          <div class="controls">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <a class="btn btn-primary btn-lg">Sign Up</a>
                      </well>
                    </div>
                  </div>
                  <div class="drag-mask" data-ds-form="text_field" style="width: 1140px; height: 34px;"></div>
                </form>
              </well>
            </div>
          </div>

              <section>
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-md-3">
                      <p><b></b></p>
                      <h3><b>Beth</b></h3>
                      <p></p>
                      <p>GE Capital</p>
                      <p>Customer relations</p>
                      <p></p>
                    </div>
                    <div class="col-md-2" align="right">
                      <p>Ambitious</p>
                      <p>Leads by example</p>
                      <p>Reliable</p>
                    </div>
                    <div class="col-md-3">
                      <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" style="width: 50%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section>
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-md-3">
                      <p><b></b></p>
                      <h3><b>Bill</b></h3>
                      <p></p>
                      <p>Deloitte</p>
                      <p>Analyst</p>
                      <p></p>
                    </div>
                    <div class="col-md-2" align="right">
                      <p>Above and beyond</p>
                      <p>Finds a way to win</p>
                      <p>Leadership</p>
                    </div>
                    <div class="col-md-3">
                      <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" style="width: 50%;"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </div>
        </div>
        <div class="col-lg-8">
          <h2>How it works</h2>
          <p>BumptUp verifies that you are an employee of your company through your work email address. After that, you can give your company the feedback it needs about its direction and its employees. All of your actions on BumptUp are private. No one else even knows you use the system if you don't let them know.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>How it helps</h2>
          <p>Your company needs real, honest, real time feedback from the people who know best: you and your coworkers. While it's easy enough to give praise, it is more difficult to give constructive feedback about what needs to improve. Yet, constructive feedback is what helps your company the most and what your coworkers yearn for. BumptUp tears down the barriers to providing this feedback with a system that allows the feedback to come from anonymized sources within the organization.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>How BumptUp is better</h2>
          <p>"<span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px;">Most employee engagement or satisfaction surveys are a stupendous waste of money and time. Everyone in the organization dreads them and little or nothing ever happens to the feedback." - Bernard Marr</span></p>
          <p>BumptUp is <b><i>pushed</i></b> by employees rather than <b><i>pulled</i></b> by HR or senior management. &nbsp;It is quick, safe, and gets honest feedback.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; BumptUp 2014</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>