<!doctype html>

<html>
  
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="http://i.imgur.com/0Pua12E.png" width="50"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">Phil Garber
            </div>
            <div class="form-group">pgarber@acme.com
            </div>
            <button type="submit" class="btn btn-link btn-sm">Sign out</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="well well-sm" <!-- this is the sidebar -->
            <div class="well well-sm">
              <p>Phil Garber</p>
              <p>Feedback for me</p>
              <p>+1 Above and beyond</p>
            </div>
            <div class="well well-sm">
              <p>Search Projects or Coworkers</p>
              <input type="text" class="form-control">
              <p></p>
              <a class="btn btn-primary btn-sm">Search</a>
            </div>
            <div class="well well-sm">Company Leaderboard
            </div>
            <div class="well well-sm">
              <p>Company Lookup</p>
              <input type="text" class="form-control">
              <p>Trending:</p>
              <ul>
                <li>Facebook</li>
                <li>Exxon Mobil</li>
                <li>Qualcomm</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <!-- this is the main section -->
          <div class="well well-sm">
            <p></p>
            <h4>Phil Garber | <u>pgarber@acme.com</u></h4>
            <p></p>
            <div class="row">
              <div class="col-md-5" align="right">
                <p>Ambitious</p>
                <p>Lead by example</p>
                <p>Great with customers</p>
                <p>Married to the job</p>
                <p>Big picture thinker</p>
                <p>Reliable</p><br>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: 50%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: 40%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: 30%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="progress">
                  <div class="progress-bar" style="width: 80%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 30%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 20%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 20%;"></div>
                </div>
                <p>Needs to better market understanding</p>
                <p>Needs a role with better fit</p>
                <p>Needs to give credit where due</p>
                <p>Needs to not rest on laurels</p>
                <p>Needs better follow up on actions</p>
              </div>
            </div>
          </div>
          <div class="well well-sm">
          <h4>Job performance based on 7 reviewers</h4>
            <div class="row">
              <div class="col-md-5" align="right">
              <font size="4">
                <p>Results</p>
                <p></p>
                <p>Job Knowledge</p>
                <p></p>
                <p>Initiative</p>
                <p></p>
                <p>Communication</p>
                <p></p>
                <p>Leadership</p>
              </font>
              </div>
              <div class="col-md-5">
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 50%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 40%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 10%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 10%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; BumptUp 2014</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>